
.App {
  background-color: #c4e1d9;
}
body{
  background-color: #c4e1d9;
}

/* profile */

.profile-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(155, 197, 223);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.profile-heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.profile-details {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.profile-details p {
  margin: 10px 0;
}

.profile-actions {
  margin: 20px 0;
}

.profile-btn {
  padding: 10px 15px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-btn:hover {
  background-color: #0056b3;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #c82333;
}

/* profile */

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
}

.nav-ul{
  padding: 5px;
  margin: 0;
  background: skyblue;
}

.nav-right{
  text-align: right;
}

.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: skyblue;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.invalid-input{
  font-size: 74%;
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 24px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product-list ul{
  margin: 0;
}


.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}

.nofound{
  color: #44474e;
}

.register, .product{
  margin-left: 30%;
}

.Login{
  margin-left: 30%;
  margin-top: 100px;
}

.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background: rgb(186, 204, 211);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.appButton:hover {
  background-color: skyblue;
}

.appButton:active {
  background-color: rgb(0, 225, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
